<a href="https://colab.research.google.com/github/neohack22/BASc/blob/master/House_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## House Price Prediction

### Import libraries

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

### Import data

Understand each column. If you can't be sure about a few of them, make logical assumptions if you can, else, don't use them.

In [ ]:
data = pd.read_csv('seattle_house_prices.csv')
data.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zip_code,lat,lon,sqft_living15,sqft_lot15,price
0,7129300520,10/13/14,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,12/9/14,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2/25/15,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,12/9/14,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2/18/15,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
data = pd.read_csv('seattle_house_prices.csv')
data.head()

           id      date  bedrooms  ...  sqft_living15  sqft_lot15   price
0  7129300520  10/13/14         3  ...           1340        5650  221900
1  6414100192   12/9/14         3  ...           1690        7639  538000
2  5631500400   2/25/15         2  ...           2720        8062  180000
3  2487200875   12/9/14         4  ...           1360        5000  604000
4  1954400510   2/18/15         3  ...           1800        7503  510000

[5 rows x 21 columns]

### Clean data
It is common that dataset are not perfect and might come with errors (misspelings, etc), wrong data types, empty cells or stuff that can be standardized. We need to make the dataset the best we can before starting our work.

In [ ]:
data.dtypes

id                 int64
date              object
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zip_code           int64
lat              float64
lon              float64
sqft_living15      int64
sqft_lot15         int64
price              int64
dtype: object

In [8]:
data.dtypes

id                 int64
date              object
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zip_code           int64
lat              float64
lon              float64
sqft_living15      int64
sqft_lot15         int64
price              int64
dtype: object

In [ ]:
# date is in object format, we might need it as date format
data['date'] = pd.to_datetime(data['date'])
data['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21592   2014-05-21
21593   2015-02-23
21594   2014-06-23
21595   2015-01-16
21596   2014-10-15
Name: date, Length: 21597, dtype: datetime64[ns]

In [9]:
# date is in object format, we might need it as date format
data['date'] = pd.to_datetime(data['date'])
data['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21592   2014-05-21
21593   2015-02-23
21594   2014-06-23
21595   2015-01-16
21596   2014-10-15
Name: date, Length: 21597, dtype: datetime64[ns]

In [ ]:
data.isna().sum()

id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zip_code         0
lat              0
lon              0
sqft_living15    0
sqft_lot15       0
price            0
dtype: int64

In [10]:
data.isna().sum()

id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zip_code         0
lat              0
lon              0
sqft_living15    0
sqft_lot15       0
price            0
dtype: int64

### Analyze data
In this step you will investigate your data, look for patterns and understand the correlations between the features you have and the target you are going to predict. I recommend using tools for data visualization (i.e. Tableau, PowerBI, etc), or you can also code your plots by using libraries such as matplotlib and seaborn. Plotting your data is very important and will help you understand it better.

In [ ]:
correlations = data.corr()['price']
correlations

id              -0.016772
bedrooms         0.308787
bathrooms        0.525906
sqft_living      0.701917
sqft_lot         0.089876
floors           0.256804
waterfront       0.266398
view             0.397370
condition        0.036056
grade            0.667951
sqft_above       0.605368
sqft_basement    0.323799
yr_built         0.053953
yr_renovated     0.126424
zip_code        -0.053402
lat              0.306692
lon              0.022036
sqft_living15    0.585241
sqft_lot15       0.082845
price            1.000000
Name: price, dtype: float64

In [11]:
correlations = data.corr()['price']
correlations

id              -0.016772
bedrooms         0.308787
bathrooms        0.525906
sqft_living      0.701917
sqft_lot         0.089876
floors           0.256804
waterfront       0.266398
view             0.397370
condition        0.036056
grade            0.667951
sqft_above       0.605368
sqft_basement    0.323799
yr_built         0.053953
yr_renovated     0.126424
zip_code        -0.053402
lat              0.306692
lon              0.022036
sqft_living15    0.585241
sqft_lot15       0.082845
price            1.000000
Name: price, dtype: float64

In [13]:
data.corr()

                     id  bedrooms  ...  sqft_lot15     price
id             1.000000  0.001150  ...   -0.138557 -0.016772
bedrooms       0.001150  1.000000  ...    0.030690  0.308787
bathrooms      0.005162  0.514508  ...    0.088303  0.525906
sqft_living   -0.012241  0.578212  ...    0.184342  0.701917
sqft_lot      -0.131911  0.032471  ...    0.718204  0.089876
floors         0.018608  0.177944  ...   -0.010722  0.256804
waterfront    -0.002727 -0.006834  ...    0.030781  0.266398
view           0.011536  0.080008  ...    0.072904  0.397370
condition     -0.023803  0.026496  ...   -0.003126  0.036056
grade          0.008188  0.356563  ...    0.120981  0.667951
sqft_above    -0.010799  0.479386  ...    0.195077  0.605368
sqft_basement -0.005193  0.302808  ...    0.017550  0.323799
yr_built       0.021617  0.155670  ...    0.070777  0.053953
yr_renovated  -0.016925  0.018389  ...    0.007944  0.126424
zip_code      -0.008211 -0.154092  ...   -0.147294 -0.053402
lat           -0.001798 -0.009951  ...   -0.086139  0.306692
lon            0.020672  0.132054  ...    0.255586  0.022036
sqft_living15 -0.002701  0.393406  ...    0.183515  0.585241
sqft_lot15    -0.138557  0.030690  ...    1.000000  0.082845
price         -0.016772  0.308787  ...    0.082845  1.000000

[20 rows x 20 columns]

In [ ]:
columns = list(correlations[correlations > 0.5].index)
columns

['bathrooms', 'sqft_living', 'grade', 'sqft_above', 'sqft_living15', 'price']

In [12]:
columns = list(correlations[correlations > 0.5].index)
columns

['bathrooms', 'sqft_living', 'grade', 'sqft_above', 'sqft_living15', 'price']

The process of Data Analysis is more complex, it has been oversimplified for viability of the workshop.

### Preprocess data
Here you must leave the data in a way your algorithm will understand (only numbers), we can also scale the data so every feature can be in the same scale. <br><br> After the data analysis, we realyze that the postal code is actually categorical, since the numeric data represents a location. <br> The year renovated might also be "hard for the model to understand", we can simplify it by considering the amount of years since it was last renovated instead.

In [ ]:
# Turning zip_code into categorical
data['zip_code'] = data['zip_code'].astype(object)
data['zip_code'].unique()

array([98178, 98125, 98028, 98136, 98074, 98053, 98003, 98198, 98146,
       98038, 98007, 98115, 98107, 98126, 98019, 98103, 98002, 98133,
       98040, 98092, 98030, 98119, 98112, 98052, 98027, 98117, 98058,
       98001, 98056, 98166, 98023, 98070, 98148, 98105, 98042, 98008,
       98059, 98122, 98144, 98004, 98005, 98034, 98075, 98116, 98010,
       98118, 98199, 98032, 98045, 98102, 98077, 98108, 98168, 98177,
       98065, 98029, 98006, 98109, 98022, 98033, 98155, 98024, 98011,
       98031, 98106, 98072, 98188, 98014, 98055, 98039], dtype=object)

In [14]:
# Turning zip_code into categorical
data['zip_code'] = data['zip_code'].astype(object)
data['zip_code'].unique()

array([98178, 98125, 98028, 98136, 98074, 98053, 98003, 98198, 98146,
       98038, 98007, 98115, 98107, 98126, 98019, 98103, 98002, 98133,
       98040, 98092, 98030, 98119, 98112, 98052, 98027, 98117, 98058,
       98001, 98056, 98166, 98023, 98070, 98148, 98105, 98042, 98008,
       98059, 98122, 98144, 98004, 98005, 98034, 98075, 98116, 98010,
       98118, 98199, 98032, 98045, 98102, 98077, 98108, 98168, 98177,
       98065, 98029, 98006, 98109, 98022, 98033, 98155, 98024, 98011,
       98031, 98106, 98072, 98188, 98014, 98055, 98039], dtype=object)

In [ ]:
# Calculating years before last renovation, considering date as the sales point
def years_since_renovation(df):
    if df['yr_renovated'] != 0:
        return int(df['date'].year) - df['yr_renovated']
    else:
        return int(df['date'].year) - df['yr_built']

data['yr_renovated_b4_sale'] = data.apply(years_since_renovation, axis=1)
data['yr_renovated_b4_sale']

0        59
1        23
2        82
3        49
4        28
         ..
21592     5
21593     1
21594     5
21595    11
21596     6
Name: yr_renovated_b4_sale, Length: 21597, dtype: int64

In [16]:
# Calculating years before last renovation, considering date as the sales point
def years_since_renovation(df):
  if df['yr_renovated'] != 0:
    return int(df['date'].year) - df['yr_renovated']
  else:
    return int(df['date'].year) - df['yr_built']

data['yr_renovated_b4_sale'] = data.apply(years_since_renovation, axis=1)
data['yr_renovated_b4_sale']

0        59
1        23
2        82
3        49
4        28
         ..
21592     5
21593     1
21594     5
21595    11
21596     6
Name: yr_renovated_b4_sale, Length: 21597, dtype: int64

In [ ]:
# now let's separate the columns we want to keep - high correlations + the ones we "preprocessed"
columns = columns + ['yr_renovated_b4_sale', 'zip_code']
columns

['bathrooms',
 'sqft_living',
 'grade',
 'sqft_above',
 'sqft_living15',
 'price',
 'yr_renovated_b4_sale',
 'zip_code']

In [17]:
# now let's separate the columns we want to keep - high correlations + the ones we "preprocessed"
columns = columns + ['yr_renovated_b4_sale', 'zip_code']
columns

['bathrooms',
 'sqft_living',
 'grade',
 'sqft_above',
 'sqft_living15',
 'price',
 'yr_renovated_b4_sale',
 'zip_code']

In [ ]:
data = data[columns]
data

,bathrooms,sqft_living,grade,sqft_above,sqft_living15,price,yr_renovated_b4_sale,zip_code
0,1.00,1180,7,1180,1340,221900,59,98178
1,2.25,2570,7,2170,1690,538000,23,98125
2,1.00,770,6,770,2720,180000,82,98028
3,3.00,1960,7,1050,1360,604000,49,98136
4,2.00,1680,8,1680,1800,510000,28,98074
...,...,...,...,...,...,...,...,...
21592,2.50,1530,8,1530,1530,360000,5,98103
21593,2.50,2310,8,2310,1830,400000,1,98146
21594,0.75,1020,7,1020,1020,402101,5,98144
21595,2.50,1600,8,1600,1410,400000,11,98027
21596,0.75,1020,7,1020,1020,325000,6,98144

In [18]:
data = data[columns]
data

       bathrooms  sqft_living  grade  ...   price  yr_renovated_b4_sale  zip_code
0           1.00         1180      7  ...  221900                    59     98178
1           2.25         2570      7  ...  538000                    23     98125
2           1.00          770      6  ...  180000                    82     98028
3           3.00         1960      7  ...  604000                    49     98136
4           2.00         1680      8  ...  510000                    28     98074
...          ...          ...    ...  ...     ...                   ...       ...
21592       2.50         1530      8  ...  360000                     5     98103
21593       2.50         2310      8  ...  400000                     1     98146
21594       0.75         1020      7  ...  402101                     5     98144
21595       2.50         1600      8  ...  400000                    11     98027
21596       0.75         1020      7  ...  325000                     6     98144

[21597 rows x 8 columns]

In [ ]:
# after you deal with all categoricals, you can encode the dataset:
data = pd.get_dummies(data)
data

,bathrooms,sqft_living,grade,sqft_above,sqft_living15,price,yr_renovated_b4_sale,zip_code_98001,zip_code_98002,zip_code_98003,...,zip_code_98146,zip_code_98148,zip_code_98155,zip_code_98166,zip_code_98168,zip_code_98177,zip_code_98178,zip_code_98188,zip_code_98198,zip_code_98199
0,1.00,1180,7,1180,1340,221900,59,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2.25,2570,7,2170,1690,538000,23,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.00,770,6,770,2720,180000,82,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.00,1960,7,1050,1360,604000,49,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.00,1680,8,1680,1800,510000,28,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2.50,1530,8,1530,1530,360000,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21593,2.50,2310,8,2310,1830,400000,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
21594,0.75,1020,7,1020,1020,402101,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21595,2.50,1600,8,1600,1410,400000,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21596,0.75,1020,7,1020,1020,325000,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# after you deal with all categoricals, you can encode the dataset:
data = pd.get_dummies(data)
data

       bathrooms  sqft_living  ...  zip_code_98198  zip_code_98199
0           1.00         1180  ...               0               0
1           2.25         2570  ...               0               0
2           1.00          770  ...               0               0
3           3.00         1960  ...               0               0
4           2.00         1680  ...               0               0
...          ...          ...  ...             ...             ...
21592       2.50         1530  ...               0               0
21593       2.50         2310  ...               0               0
21594       0.75         1020  ...               0               0
21595       2.50         1600  ...               0               0
21596       0.75         1020  ...               0               0

[21597 rows x 77 columns]

**Scaling** is also a well know technique, try out [StandardScaler](https://towardsdatascience.com/how-and-why-to-standardize-your-data-996926c2c832) to see if you can get better results.

### Train the model

In [ ]:
# First we split the features from the target
X = data.drop(columns=['price'])
y = data['price']

# Then we split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Trainning the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [20]:
# First we split the features from the target
X = data.drop(columns=['price'])
y = data['price']

# Then we split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=42)

# Training the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Testing the model

In [ ]:
# Getting predictions
predictions = model.predict(X_test)

# Checking our metrics
print('R2:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions, squared=False))

R2: 0.7349513476172118
MAE: 106784.77978470414
MSE: 185778.49596322313

In [21]:
# Getting predictions
predictions = model.predict(X_test)

# Checking our metrics
print('R2:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions, squared=False))

R2: 0.7349513402469111
MAE: 106784.81818576388
MSE: 185778.49854622697

### Conclusions

We still have a long way to go. The errors are still huge and needs more analysis to get better results.<br>
Some more insights we can get is related to outliers, in this case we have a few houses that are worth too much and skews our regression line.<br>
Knowing about this, we can remove houses with high value, keeping aware that the house predictor will have this limitation: will not give good prediction for high value houses. <br>
If predicting houses of high value is important, we would need more data, specially from high value houses.

### EXTRA
"Improving" the model: removing high value houses.

In [ ]:
data.describe()['price']

count    2.159700e+04
mean     5.402966e+05
std      3.673681e+05
min      7.800000e+04
25%      3.220000e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [22]:
data.describe()['price']

count    2.159700e+04
mean     5.402966e+05
std      3.673681e+05
min      7.800000e+04
25%      3.220000e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [ ]:
data_filtered = data[data['price'] < 700000]
data_filtered

,bathrooms,sqft_living,grade,sqft_above,sqft_living15,price,yr_renovated_b4_sale,zip_code_98001,zip_code_98002,zip_code_98003,...,zip_code_98146,zip_code_98148,zip_code_98155,zip_code_98166,zip_code_98168,zip_code_98177,zip_code_98178,zip_code_98188,zip_code_98198,zip_code_98199
0,1.00,1180,7,1180,1340,221900,59,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2.25,2570,7,2170,1690,538000,23,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.00,770,6,770,2720,180000,82,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.00,1960,7,1050,1360,604000,49,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.00,1680,8,1680,1800,510000,28,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2.50,1530,8,1530,1530,360000,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21593,2.50,2310,8,2310,1830,400000,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
21594,0.75,1020,7,1020,1020,402101,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21595,2.50,1600,8,1600,1410,400000,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21596,0.75,1020,7,1020,1020,325000,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
data_filtered = data[data['price'] < 700000]
data_filtered

       bathrooms  sqft_living  ...  zip_code_98198  zip_code_98199
0           1.00         1180  ...               0               0
1           2.25         2570  ...               0               0
2           1.00          770  ...               0               0
3           3.00         1960  ...               0               0
4           2.00         1680  ...               0               0
...          ...          ...  ...             ...             ...
21592       2.50         1530  ...               0               0
21593       2.50         2310  ...               0               0
21594       0.75         1020  ...               0               0
21595       2.50         1600  ...               0               0
21596       0.75         1020  ...               0               0

[17187 rows x 77 columns]

In [ ]:
# First we split the features from the target
X = data_filtered.drop(columns=['price'])
y = data_filtered['price']

# Then we split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Trainning the model
model = LinearRegression()
model.fit(X_train, y_train)

# Getting predictions
predictions = model.predict(X_test)

# Checking our metrics
print('R2:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions, squared=False))

R2: 0.7622770575684414
MAE: 50714.267699698226
MSE: 67469.23099610087

In [26]:
# First we split the features from the target
X = data_filtered.drop(columns=['price'])
y = data_filtered['price']

# Then we split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=42)

# Training the model
model = LinearRegression()
model.fit(X_train, y_train)

# Getting predictions
predictions = model.predict(X_test)

# Getting our metrics
print('R2:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions, squared=False))

R2: 0.7622771367685197
MAE: 50714.273226167104
MSE: 67469.21975703246

In [25]:
# First we split the features from the target
X = data_filtered.drop(columns=['price'])
y = data_filtered['price']

# Then we split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Trainning the model
model = LinearRegression()
model.fit(X_train, y_train)

# Getting predictions
predictions = model.predict(X_test)

# Checking our metrics
print('R2:', r2_score(y_test, predictions))
print('MAE:', mean_absolute_error(y_test, predictions))
print('MSE:', mean_squared_error(y_test, predictions, squared=False))

R2: 0.7622771367685197
MAE: 50714.273226167104
MSE: 67469.21975703246